<% if params[:id] %>
    <hr>
    <div class="row">
    <% @bets.each do |bet| %>
        <div class="col-sm-3 col-xs-6">
            <div class="square">
            <div>
                <div>
                <div>
                    <img class="img-responsive" src="<%= image_path "curry.png" %>" alt="curry" />
                    <h5><%= "#{bet['first_name']} #{bet['last_name']}" %></h5>
                    <h5><%= "#{bet['stat']}: #{bet['line']}" %></h5>
                    <h5>Monster Pick: <%= bet['pick_over'].eql?('false') ? 'Under' : 'Over' %></h5>
                </div>
                </div>
            </div>
            </div>
        </div>
        
    <% end %>
    </div>
<% else %>
    supply a URL like <a href='/bets/2018-06-04'>this</a>
<% end %>